<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="Quizz_LearnWithPenguineEntities" connectionString="metadata=res://*/Quizz.csdl|res://*/Quizz.ssdl|res://*/Quizz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Pamlord;initial catalog=Quizz_LearnWithPenguine;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>